<div id='title' class='palm-header'></div>
<div style='height: 40px'></div>
<div id='guide' class='palm-body-text' style='display: none;'>
	<dl>
		<dt>
			»Einfach lostippen...« verwenden
		</dt>
		<dd>
			Wenn Sie Koto Player zum ersten Mal starten, werden Ihre Titel nach jeder Aktualisierung für »Einfach lostippen...« zwischengespeichert. Dadurch können Sie Titel finden, indem Sie auf dem Startbildschirm »einfach lostippt«. Zuerst müssen Sie Koto Player aber in Ihren Einfach-lostippen-Einstellungen hinzufügen. <span id='justtype'>Tippen Sie hier um die Einstellungen zu öffnen. Tippen Sie anschließend auf »Anwendungssuchen hinzufügen«. Tippen Sie schließlich auf Koto Player, um den Dienst zu aktivieren.</span>
		</dd>
		<dt>
			Die Startseite
		</dt>
		<dd>
			Nachdem Ihre Titel zwischengespeichert wurden, werden Sie zur Startseite weiter geleitet. Von hier aus können Sie Musik auswählen, indem Sie auf einzelne Kategorien tippen. Zur Auswahl stehen die Kategorien Interpreten, Alben, Titel und Genres. Wiedergabelisten und Favoriten können Sie selbst nach Ihren eigenen Wünschen anpassen. (Eine Anleitung hierzu finden Sie weiter unten).
		</dd>
		<dt>
			Musik auswählen
		</dt>
		<dd>
			Nachdem Sie eine Kategorie ausgewählt haben, sehen Sie die zugehörige Musik. Wenn Sie nun auf Interpret, Album oder Genre tippen, gelangen Sie zu einer weiteren Ansicht, auf der die Musik der jeweiligen Interpreten, Alben bzw. Genres innerhalb der ausgewählten Kategorie eingeblendet wird. Wenn Sie, egal in welcher Ansicht, auf einen Titel tippen, wird der Titel wiedergegeben. Durch Tippen auf Favoriten oder Wiedergabelisten wird die jeweils dort abgelegte Musik wiedergegeben.
		</dd>
		<dt>
			Das intelligente Alphabet-Scrollen
		</dt>
		<dd>
			Am rechten Rand wird in den Kategorien »Titel«, »Interpreten« und »Alben« ein intelligenter Alphabet-Scroller eingeblendet. Er besteht aus einer Liste aller Anfangsbuchstaben der jeweiligen Einträge innerhalb der Kategorie. Wenn es z.B. keinen Titel mit dem Buchstaben »B« in der aktuellen Ansicht gibt, wird auch der Buchstabe nicht angezeigt. Durch Tippen auf den Buchstaben, springen Sie direkt zum ersten Eintrag (z.B. Titel), der mit diesem Buchstaben beginnt.
		</dd>
		<dt>
			Der »Mehr« Pfeil
		</dt>
		<dd>
			Womöglich haben Sie schon den Pfeil rechts von vielen Einträgen bemerkt. Diese Pfeile bieten Zugriff auf weitere Optionen, außer dem Tippen auf den Eintrag selbst. Hier können Sie z.B. die zufällige Wiedergabe innerhalb einer Kategorie aktivieren, oder zum nächsten oder vorherigen Eintrag innerhalb der Kategorie springen. Diese Optionen sind nur verfügbar, wenn Sie gerade einen Titel wiedergeben. Durch die Optionen werden die Titel der Kategorie an der angegebenen Stelle in die aktuelle Wiedergabeliste eingefügt.
		</dd>
		<dt>
			Wiedergabelisten und Favoriten
		</dt>
		<dd>
			Kategorien können auch zu Wiedergabelisten und Favoriten hinzugefügt werden. Wiedergabelisten sind Listen von Titeln, die von Ihnen selbst erstellt wurden. Tippen Sie auf »Zur Wiedergabeliste hinzufügen« um eine Übrsicht über alle verfügbaren Wiedergabelisten einzublenden. Sollte keine Wiedergabeliste verfügbar sein, tippen Sie auf »Neue Wiedergabeliste« und geben Sie einen Namen ein. Drücken Sie dann die Eingabetaste und die TItel werden zur neuen Wiedergabeliste hinzugefügt. Favoriten sind »Abkürzungen« zu Ihren Titeln. Sie können nicht bearbeitet werden und sind abhängig vom Inhalt der jeweiligen favorisierten Kategorie.
		</dd>
		<dt>
			Automatische Wiedergabelisten
		</dt>
		<dd>
			Eine zweite Art von Wiedergabelisten sind »Automatische Wiederabelisten«. Diese Wiedergabelisten werden durch die App erstellt. Die Wiedergabeliste »Am häufigsten gespielt« enthält die Titel, die Sie am häufigsten hören. Die App überprüft ständig, welche Titel wiedergegeben wurden und wir die Titel bewertet wurden.
		</dd> 
		<dt>
			Die Seite »Aktuelle Wiedergabe«
		</dt>
		<dd>
			Wenn Sie einen Titel wiedergeben, wird die Seite »Aktuelle Wiedergabe« eingeblendet. Auf dieser Seite können Sie die aktuelle Wiedergabeliste bearbeiten, Albencover ansehen und weitergehende Optionen wie z.B. Wiederholen und zufällige Wiedergabe einstellen.
		</dd>
		<dt>
			Ihre Musik kontrollieren
		</dt>
		<dd>
			Auf der Seite »Aktuelle Wiedergabe«, als auch in jeder Listenansicht wird ein Steuerungsfeld am unteren Rand eingeblendet. Mit Hilfe dieses Steuerungsfeldes können Sie die Wiedergabe des nächsten oder vorherigen Titels stoppen oder fortsetzen. Mit einem Tipp auf den »Mehr-Pfeil«, der nach oben zeigt, wird der aktuelle Titel inkl. einer Fortschrittsanzeige eingeblendet. Sie können mit einem Tipp innerhalb dieser Fortschrittsanzeige zu jeden beliebigen Punkt des Titels springen. Auf der Seite »Aktuelle Wiedergabe« ist die Fortschrittsanzeige immer sichtbar.
		</dd>
		<dt>
			Albencover-Vorschau
		</dt>
		<dd>
			Auf der Seite »Aktuelle Wiedergabe« können Sie auf dem Albencover nach oben Wischen um alle Albencover in Ihrer aktuellen Wiedergabeliste angezeigt zu bekommen. Nun können Sie durch die Albencover blättern. Wischen Sie ein Albencover nach oben und ziehen es dadurch aus dem Bildschirm heraus, wird der entsprechende Titel aus der Wiedergabeliste entfernt. Wenn Sie auf dem Albencover nach unten wischen, wird der entsprechende Titel wiedergegeben. Tippen Sie auf das Albencover um weitere Optionen angezeigt zu bekommen.
		</dd> 
		<dt>
			Titel-Details
		</dt>
		<dd>
			Bei jedem Titel können Sie auf die Option »Mehr« klicken, um detaillierte Informationen angezeigt zu bekommen. In diesem Fall wird eine überlappende Ansicht eingeblendet, die Details über die Häufigkeit der Wiedergabe, Bewertung, das Datum der letzten Wiedergabe, das Albencover, den Künstler, das Album usw. beinhaltet. In dieser Ansicht können Sie nach rechts oder links wischen um zum vorherigen oder nächsten Titel zu springen. In der Ansicht »Aktuelle Wiedergabe« können Sie nach unten wischen um die Titel-Details einzublenden. Wischen Sie dann nach oben um sie wieder auszublenden.
		</dd> 
		<dt>
			Albencover herunterladen
		</dt>
		<dd>
			Um neue Albencover für Ihre Alben herunterzuladen, tippen Sie auf das Albencover innerhalb der Ansicht für Interpreten oder Alben. Dort werden Hinweise eingeblendet, wie Sie neue Albencover herunterladen können. Hinweis: Heruntergeladene Albencover werden auf Ihrem Gerät und nicht in den IDv3-Tags des Titels gespeichert.
		</dd> 
	</dl>
</div>
<div id='tips' style='display: none' class='palm-body-text'>
	<dl>
		<dt>Album fortsetzen</dt>
		<dd>Wenn Sie viele verschiedene Titel von unterschiedlichen Interpreten und Alben wiedergeben, und wollen ein bestimmtest Album weiter hören, auf dem sich der Titel befindet, der gerade wiedergegeben wird, tippen Sie auf die Schaltfläche »mehr« und danach auf die Schaltfläche "Album fortsetzen".</dd>
		<dt>Albencover scrollen</dt>
		<dd>Um in die Albencover-Vorschau zu gelangen, müssen Sie in der Ansicth »Aktuelle Wiedergabe« nach oben wischen. Dort können Sie auf einem Cover nach unten wischen, um den Titel wiederzugeben, nach oben wischen, um ihn aus der Wiedergabeliste zu entfernen und auf das Cover tippenn, um mehr Optionen angezeigt zu bekommen.</dd>
		<dt>Tastaturkürzel</dt>
		<dd>Koto unterstützt eine Vielzahl an Tastaturkürzeln. In allen Ansichten mit Kontrollfeldern, können Sie die Leertaste drücken, um die Wiedergabe zu stoppen oder fortzusetzen. Drücken Sie »@«, um den vorherigen und ».« um den nächsten Titel wiederzugeben. In der Ansicht »Aktuelle Wiedergabe« können Sie »s« drücken, um die zufällige Wiedergabe zu aktivieren, »p« um »Zur Wiedergabeliste hinzufügen« aufzurufen, »c« um mit der Wiedergabe des Albums fortzufahren und »m« oder »v« um die Interpretenansicht des aktuellen Titels anzuzeigen. Haben Sie Vorschläge für andere Tastaturkürzel? Dann  <a href='http://kotoplayer.uservoice.com'>schlagen Sie sie vor!</a></dd>

	</dl>
</div>

<div id='faqs' style='display: none' class='palm-body-text'>
	<dl>
		<dt>Warum erscheint meine Musik nicht bei »Einfach lostippen...«?</dt>
		<dd>
			Wahrscheinlich haben Sie Koto Player nicht in den Einfach-lostippen-Einstellungen hinzugefügt. <a id='justtype'>Tippen Sie hier um die Einstellungen zu öffnen. Tippen Sie anschließend auf »Anwendungssuchen hinzufügen«. Tippen Sie schließlich auf Koto Player, um den Dienst zu aktivieren.</a>
			<br/><br/>
			Sollte es dann immer noch nicht funktionieren, müssen Sie Ihre Titel für Einfach lostipen zwischenspeichern. <a id='cache'>Tippen Sie hier, um Ihre Titel jetzt zwischenzuspeichern</a>. Koto Player sollte Ihren Titelspeicher automatisch aktualisieren.
		</dd>
	</dl>
</div>