<div class='palm-header'>
	Über Koto Player<span id='version'></span>
</div>
<div style='height: 55px'></div>
<div class='palm-body-text'>
	<div id='lite' style='display: none'>
		Danke, dass Sie Koto Player ausprobieren! Diese Lite-Version beschränkt die Anzahl der Lieder, die gerade gespielt werden auf 10. Den Link zu Vollversion finden Sie weiter unten. Danke!
		<br/>
	</div>
	<div id='preware' style='display: none'>
		Danke, dass Sie Koto Player ausprobieren! Wenn Sie die Entwicklung unterstützen möchten, kaufen Sie bitte die App. Den Link zu Vollversion finden Sie weiter unten. Danke!
		<br/>
	</div>
	Koto Player ist ein ausgereiftes Musik-App für webOS. Es wurde von Will Honey (Tibfib) entwickelt und unter der GPL Open-Source-Lizenz veröffentlicht. Sollten Sie bei der Entwicklung von Koto mithelfen wollen, <!--fork our project on <a href="http://github.com">github</a> or --><a href='mailto:kotoplayer@gmail.com'>schreiben Sie uns eine E-Mail</a>. Wir sind für jede Hilfe dankbar!<br/><br/>
	Scrobbel-Dienste werden von <a href='http://last.fm'>Last.fm</a> bereit gestellt.
</div>
<div class='palm-group'>
	<div class='palm-group-title'>Links</div>
	<div class='palm-list'>
		<a href='http://developer.palm.com/appredirect/?packageid=com.tibfib.app.koto'>
			<div class='palm-row first' x-mojo-touch-feedback='momentary'>
				<div class='palm-row-wrapper'>
					<div id='launchCatalog' class='title'>
						Koto Player bewerten
					</div>
				</div>
			</div>
		</a>
		<div class='palm-row' x-mojo-touch-feedback='momentary' onclick='Mojo.Controller.stageController.pushScene("startup", "changelog");'>
			<div class='palm-row-wrapper'>
				<div class='title'>
					Änderungen an Koto Player
				</div>
			</div>
		</div>
		
		<a href='http://kotoplayer.uservoice.com'>
			<div class='palm-row' x-mojo-touch-feedback='momentary'>
				<div class='palm-row-wrapper'>
					<div class='title'>
						Ideen mitteilen
					</div>
				</div>
			</div>
		</a>
		<a href='http://twitter.com/Koto_Player'>
			<div class='palm-row last' x-mojo-touch-feedback='momentary'>
				<div class='palm-row-wrapper'>
					<div class='title'>
						@Koto_Player folgen!
					</div>
				</div>
			</div>
		</a>
	</div>
</div>
<div class='palm-body-title' style='padding: 5px; 0px; text-align: center'>
	<a href='http://last.fm'><img src='images/last.fm_logo.png'/></a>
</div>
<div class='palm-body-text'>
Ihr <a href='http://last.fm'>Last.fm</a>-Passwort wird zu keinem Zeitpunkt gespeichert. Es wird nur einmalig verwendet, um die Erlaubnis bei <a href='http://last.fm'>Last.fm</a> die Erlaubnis zu bekommen zu scrobbeln und zu aktualisieren, was sie gerade hören. Da das Passwort nicht gespeichert wird, können Sie die Erlaubnis auf <a href='http://last.fm'>Last.fm</a> widerrufen. Danach können Sie aber erst wieder scrobbeln, wenn Sie sich erneut angemeldet haben.
</div>

<div class='palm-body-title' style='padding: 5px; 0px; text-align: center; font-size: 30px'>
	Twitter
</div>
<div class='palm-body-text'>
Ihr <a href='http://twitter.com'>Twitter</a>-Passwort wird zu keinem Zeitpunkt gespeichert. Es wird nur einmalig verwendet, um die Erlaubnis bei <a href='http://twitter.com'>Twitter</a> die Erlaubnis zu bekommen Ihren Twitter-Status zu aktualisieren, wenn Sie es möchten. Da das Passwort nicht gespeichert wird, können Sie die Erlaubnis auf <a href='http://twitter.com'>Twitter</a> widerrufen. Danach können Sie die Funktion aber erst wieder benutzen, wenn Sie sich erneut angemeldet haben.
</div>