<div id='title' class='palm-header'>
	Koto Änderungsüberischt
</div>
<div style='height: 55px'></div>
<div id='message' class='palm-body-text' style='display:none'></div>
<div id='metrixToggle' style='display:none' class="palm-row last">
	<div class="palm-row-wrapper toggle-section">
		<div class='toggle-label truncating-text'>
			Anonyme Statistiken
		</div>
		<div x-mojo-element='ToggleButton' id='metrixToggleWidget'></div>
	</div>
	<div class='palm-info-text' style='padding-top: 8px; font-size: 12px;'>
		Koto Player verwendet <a href='http://metrix.webosroundup.com'>Metrix</a> um zu messen wie oft und mit welchem Betriebssystem die App heruntegeladen wurde. <b>Persönliche Informationen werden mit Metrix nicht erhoben.</b>
	</div>
</div> 
<div id='changelog'></div>