<div style='height: 95px;'>
	<div style='display: inline-block; padding: 5px 15px 5px 15px; width: 298px;'>
		<img style='float: left; padding-right: 10px;' src='#{-albumArtFormatted}'/>
		<div style='float: left; padding-top: 7px'>
			<div class='truncating-text'>#{-name}</div>
			<div class='truncating-text' style='font-size: 16px;'>#{-artist}</div>
			<div class='truncating-text' style='font-size: 14px; text-transform: uppercase;'>#{-tracksFormatted}</div>
		</div>
		<div style='float: right; position: relative; top: 33px' class='icon popup' id='popup'></div>
	</div>
</div>