<div class='palm-row' style='min-height: 80px;'>
	<div class='palm-row-wrapper'>
		<div class='album-list-item'>
			<img class='album-art-list-item' width='80px' height='80px' src='#{-albumArtFormatted}'/>
			<div class='text'>
				<div class='truncating-text'>#{-name}</div>
				<div class='truncating-text artist'>#{-artist}</div>
				<div class='truncating-text tracks'>#{-tracksFormatted}</div>
			</div>
			<div class='popup' id='popup'></div>
		</div>
		
		<div name="drawer" class='drawer' x-mojo-element="Drawer">
			<div name="sub-list" x-mojo-element="List"></div>
		</div>
	</div>
</div>