<div id='album-art-container' class='album-art-container'>
	<div class='album-art-img-container'>
		<img class='album-art-img' width='#{-dimensionFormatted}' height='#{-dimensionFormatted}' src='#{-previousItem}'/>
	</div>
	<div class='album-art-img-container'>
		<img id='currentItemImg' width='#{-dimensionFormatted}' height='#{-dimensionFormatted}' class='album-art-img' src='#{-currentItem}'/>
	</div>
	<div class='album-art-img-container'>
		<img class='album-art-img' width='#{-dimensionFormatted}' height='#{-dimensionFormatted}'  src='#{-nextItem}'/>
	</div>
</div>