body.palm-default { /*background */
	background: url(../images/themes/red/background.png) top left no-repeat;
	z-index: -1;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

body.palm-default.pre3 {
	background: url(../images/themes/red/background-pre3.png) top left no-repeat;
}

.scene-fade.top {
    top: 0px;
    background: url(../images/themes/red/scroll-fade-top.png) repeat-x center bottom;
}

.scene-fade.bottom {
    bottom: 0px;
    background: url(../images/themes/red/scroll-fade-bottom.png) repeat-x center bottom;
}