<div class='palm-header'>
	Es gibt ein Problem
</div>

<div class='palm-header-spacer'></div>

<div id='legacyError' class='palm-body-text'>
	Irgendwas ist schief gelaufen. Wahrscheinlich versuchen Sie Koto-Player auf einem Gerät auszuführen, dass nicht webOS 2.0 installiert hat. 
	Wenn Sie für Koto-Player bezahlt haben, tut es mir leid. Allerdings wird in der Beschreibung der App ausdrücklich darauf hingewiesen, dass sie nur mit webOS 2.0 funktioniert. Weder HP noch ich werden das Geld zurück erstatten.
</div>
<div id='mediaIndexerError' class='palm-body-text' style='display:none'>
	So wie es aussieht sind Sie vom Palm-media-indexer-Fehler betroffen. Wenn Sie sich mit webOS Quick Install oder Preware nicht auskennen, laden Sie  webOS Quick Install herunter und folgen Sie dabei diesen Anweisungen: <a href='http://forums.precentral.net/canuck-coding/274461-webos-quick-install-v4-04-a.html#post2850874'>URL</a>.
	<br/><br/>
	Sobald Sie die Möglichkeit haben .ipks zu installieren, laden Sie das folgende .ipk herunter und installieren Sie es. Dadurch sollte der Fehler behoben werden: <a href='http://forums.precentral.net/hedami/277378-cant-play-anything-today.html#post2903551'>IPK herunterladen</a>.
	<br/><br/>
	Bei Problemen, können Sie uns gerne eine E-Mail schicken: <a href='mailto:kotoplayer@gmail.com'>kotoplayer@gmail.com</a>.
	</div>
<div id='error' class='palm-info-text' style='background-color: rgba(255, 255, 255, .2); -webkit-border-radius: 5px; padding: 8px'></div>

<div id='metrixToggle' class="palm-row last">
	<div class="palm-row-wrapper toggle-section">
		<div class='toggle-label'>
			Wende Dich an den Entwickler
		</div>
		<div x-mojo-element='ToggleButton' class='toggle-text' id='metrixToggleWidget'></div>
		<div class='palm-info-text' style='padding-top: 8px; font-size: 12px;'>
			Koto Player verwendet <a href='http://metrix.webosroundup.com'>Metrix</a> um zu messen wie oft und mit welchem Betriebssystem die App heruntegeladen wurde. <b>Persönliche Informationen werden mit Metrix nicht erhoben.</b>
		</div>
	</div>
</div>