<div class='palm-header'>
	There's a Problem
</div>

<div class='palm-header-spacer'></div>

<div id='legacyError' class='palm-body-text'>
	Something went wrong. Most likely you are trying to run Koto Player on a device that doesn't have 2.0 installed. 
	If you paid for Koto, I'm sorry. However, the app catalog description of Koto Player clearly states that it only works on webOS 2.0 
	and that neither Palm or myself will refund your money.
</div>
<div id='mediaIndexerError' class='palm-body-text' style='display:none'>
	Well it looks like you ran into the Palm media indexer bug. If you are not familiar with webOS Quick Install or Preware, download webOS Quick Install using these instructions: <a href='http://forums.precentral.net/canuck-coding/274461-webos-quick-install-v4-04-a.html#post2850874'>URL</a>.
	<br/><br/>
	Then once you have a way to install .ipk's, download and install this .ipk which will fix the issue: <a href='http://forums.precentral.net/hedami/277378-cant-play-anything-today.html#post2903551'>Download IPK</a>.
	<br/><br/>
	Send us an email if you have trouble: <a href='mailto:kotoplayer@gmail.com'>kotoplayer@gmail.com</a>.
	</div>
<div id='error' class='palm-info-text' style='background-color: rgba(255, 255, 255, .2); -webkit-border-radius: 5px; padding: 8px'></div>

<div id='metrixToggle' class="palm-row last">
	<div class="palm-row-wrapper toggle-section">
		<div class='toggle-label'>
			Let Developer Know
		</div>
		<div x-mojo-element='ToggleButton' class='toggle-text' id='metrixToggleWidget'></div>
		<div class='palm-info-text' style='padding-top: 8px; font-size: 12px;'>
			Koto Player uses <a href='http://metrix.webosroundup.com'>Metrix</a> to keep track of app downloads and OS versions being used. <b>No personal information is tracked with Metrix.</b>
		</div>
	</div>
</div>