<div class='palm-header'>
	About Koto <span id='version'></span>
</div>
<div style='height: 55px'></div>
<div class='palm-body-text'>
	<div id='lite' style='display: none'>
		Thanks for trying out Koto Player! This lite version limits you to having a maximum of 10 songs in your Now Playing. The link to buy the full version is below! Thanks!
		<br/>
	</div>
	<div id='preware' style='display: none'>
		Thanks for trying out Koto Player! If you would like to support development, please buy the app! The link to the full version is below! Thanks!
		<br/>
	</div>
	Koto is an advanced music player for webOS. It was developed by Will Honey (Tibfib) and is published under the GPL open source license. If you would like to help out with Koto, <!--fork our project on <a href="http://github.com">github</a> or --><a href='mailto:kotoplayer@gmail.com'>send us an email</a>. Any help is greatly appreciated!<br/><br/>
	Scrobbling Services Provided by <a href='http://last.fm'>Last.fm</a>
</div>
<div class='palm-group'>
	<div class='palm-group-title'>Links</div>
	<div class='palm-list'>
		<a href='http://developer.palm.com/appredirect/?packageid=com.tibfib.app.koto'>
			<div class='palm-row first' x-mojo-touch-feedback='momentary'>
				<div class='palm-row-wrapper'>
					<div id='launchCatalog' class='title'>
						Review Koto
					</div>
				</div>
			</div>
		</a>
		<div class='palm-row' x-mojo-touch-feedback='momentary' onclick='Mojo.Controller.stageController.pushScene("startup", "changelog");'>
			<div class='palm-row-wrapper'>
				<div class='title'>
					Koto Changelog
				</div>
			</div>
		</div>
		
		<a href='http://kotoplayer.uservoice.com'>
			<div class='palm-row' x-mojo-touch-feedback='momentary'>
				<div class='palm-row-wrapper'>
					<div class='title'>
						Submit Ideas
					</div>
				</div>
			</div>
		</a>
		<a href='http://twitter.com/Koto_Player'>
			<div class='palm-row last' x-mojo-touch-feedback='momentary'>
				<div class='palm-row-wrapper'>
					<div class='title'>
						Follow @Koto_Player!
					</div>
				</div>
			</div>
		</a>
	</div>
</div>
<div class='palm-body-title' style='padding: 5px; 0px; text-align: center'>
	<a href='http://last.fm'><img src='images/last.fm_logo.png'/></a>
</div>
<div class='palm-body-text'>
Your <a href='http://last.fm'>Last.fm</a> password is NEVER saved. It is used once, hashed, to get a permission "key" so Koto can scrobble and update your Now Playing on <a href='http://last.fm'>Last.fm</a>. Since the password is not saved, you can revoke Koto's permission on <a href='http://last.fm'>Last.fm</a> and it will not be able to scrobble unless you log in again.
</div>

<div class='palm-body-title' style='padding: 5px; 0px; text-align: center; font-size: 30px'>
	Twitter
</div>
<div class='palm-body-text'>
Your <a href='http://twitter.com'>Twitter</a> password is NEVER saved. It is used once, hashed, to get a permission "key" so Koto can update your statuses when you ask it to. Since the password is not saved, you can revoke Koto's permission on <a href='http://twitter.com'>Twitter</a> and it will no longer work (unless you log in again).
</div>