<div class="my-menu-panel" x-mojo-menupanel="">
	<div class="my-menu-panel-wrapper">
		<div class='palm-list'>
			<div class='palm-row single' >
				<div class='palm-row-wrapper'>
					<div id='progress-bar' style='width: #{-widthFormatted}' class='progress-bar'></div>
					<div class='progress-bar-background'></div>
					
					<div class='my-menu-panel-wrapper-text'>
						<div class='time'>
							<div id='time-text' class='info currentDuration'>#{-currentTimeFormatted}</div>
							<div class='info totalDuration'>#{-totalTimeFormatted}</div>
						</div>
						<div class='songInfo'>
							<div id='name' class="name">#{-title}</div>
							<div id='info' class="info">#{-artist} - #{-album}</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	 </div>	
</div>
