<div id='title' class='palm-header'></div>
<div style='height: 40px'></div>
<div id='guide' class='palm-body-text' style='display: none;'>
	<dl>
		<dt>
			Getting Started with Just Type
		</dt>
		<dd>
			When you first launch Koto, and after each update, it will start caching your songs for Just Type. This will allow you to "just type" at the launcher to see all songs you have and play them quickly. But first, you need to add Koto to your Just Type Preferences. <span id='justtype'>Tap here to launch that, then tap "Add Application Searches", then tap "Koto Player" to add it to your list.</span>
		</dd>
		<dt>
			The Start Page
		</dt>
		<dd>
			After your songs have been cached, you will be directed to the start page. From here you can filter down to the music you want to listen to by tapping on a heading. Artists, Albums, Songs, and Genres will present your songs in different categories. Playlists and Favorites are created by you based on want and need (Scroll down for more info on them).
		</dd>
		<dt>
			Selecting Music
		</dt>
		<dd>
			Once you have picked a view, your music is presented before you. Tapping on an artist, album, or genre will launch a second page to view the songs that belong to that artist, album, or genre. Tapping on a song from any page will play that song, and tapping on a playlist or favorite will play the songs in that category.
		</dd>
		<dt>
			The Smart Alpha Scroller
		</dt>
		<dd>
			To the right of the content lists in the "Songs", "Artists", and "Albums" views, you can find the Smart Alpha Scroller. It is a list of all unique first letter characters. So, if you don't have a song that starts with a letter, it won't show up in the Alpha Scroller. It only shows letters in which your content starts with. Tapping on a ltter scrolls to the first item that starts with that character instantaneously.
		</dd>
		<dt>
			The "More" Arrow
		</dt>
		<dd>
			You may have noticed the arrows on the right side of many items. These arrows offer alternate options than given by tapping on the item itself. For example, you can "Shuffle Play" a category. Or you can "Play a Category Next", or "Play a Category Last". These options are only available when you are currently playing something. These options will insert the categories song into your current playlist at the specified location.
		</dd>
		<dt>
			Playlists and Favorites
		</dt>
		<dd>
			You can also add these categories to Playlists and Favorites. Playlists are user-created lists of songs. Tap "Add To Playlist" for a popup to show with a list of playlists. If you have not created one, tap on "New Playlist" and type a name. Then press enter and your songs will be added to your newly created playlist. Favorites are "shortcuts" to your content. They can not be edited and are dynamic to the content in the category favorited.
		</dd>
		<dt>
			Auto Playlists
		</dt>
		<dd>
			There is a second kind of Playlists called Auto Playlists. These playlists are made by the app. For example, the Auto Playlist "Most Played" is a list of the songs you have played the most. The app tracks the songs you have played, and the ratings you have given them.
		</dd> 
		<dt>
			The Now Playing Page
		</dt>
		<dd>
			Once you start playing a song, you will see the "Now Playing" page. At this page you can manage your current playlist, view album art, and control advanced settings to your music, such as repeat and shuffle.
		</dd>
		<dt>
			Controlling Your Music
		</dt>
		<dd>
			On the Now Playing page, as well as any list view, a control widget will be usable at the bottom of the screen. This widget allows you to pause and play the next and previous songs. If you tap the "more" up arrow on a list view, you can see the currently playing song along with its progress. You can tap on this progress bar to scrub to that part of the song. On the Now Playing page, this progress bar is always visible.
		</dd>
		<dt>
			Album Art Preview
		</dt>
		<dd>
			While you are at the Now Playing Page, you can swipe up on the album art to zoom out to view all the album art in your current playlist. From there you can scroll through the album art and flick up once more to remove the selected song from the current playlist. You can also swipe down on the album art to play that song now, or tap on it for more options.
		</dd> 
		<dt>
			Song Details
		</dt>
		<dd>
			On any song, you can tap the "more" option to view the Song Details. This pulls up a overlay with details of the song, like rating, playcount, last played, album art, artist, album etc. Once you view song details, you can flick left or right to go to the next or previous song in the list of songs. On the now playing scene, you can swipe down to bring up the song details page, and then swipe up to close it.
		</dd> 
		<dt>
			Downloading Album Art
		</dt>
		<dd>
			To download new album art for you albums, tap on the album art from the Artist/Album page. Follow the instructions to download and apply it. Note: The downloaded album art is saved to your usb drive, and NOT to the idv3 tags of the song (programming limitation).
		</dd> 
	</dl>
</div>
<div id='tips' style='display: none' class='palm-body-text'>
	<dl>
		<dt>Continue with Album</dt>
		<dd>If you are playing a variety of songs from different artists and albums, and find an album you would like to continue listening to, you can by tapping on the more (...) button at the bottom left, then tapping "Continue with Album".</dd>
		<dt>Album Art Scroller</dt>
		<dd>Swipe up on the Album Art on the Now Playing scene to enter Album Art Preview mode. From there: swipe down on a album art to play that song, swipe up to delete it from the playlist, tap on it for more options.</dd>
		<dt>Keyboard Shortcuts</dt>
		<dd>Koto supports various keyboard shortcuts. On all scenes with controls you can use the spacebar to play/pause your music, "@" key to play previous, and the "." key to play next. From the Now Playing scene, you can also press "s" to shuffle, "p" to pull up the "Add to Playlist", "c" to Continue your Album, and "m" or "v" to open up the artist page for your current music (show more). Got any other ones you want? <a href='http://kotoplayer.uservoice.com'>Suggest it!</a></dd>

	</dl>
</div>

<div id='faqs' style='display: none' class='palm-body-text'>
	<dl>
		<dt>Why doesn't my music show up in Just Type?</dt>
		<dd>
			Most likely you haven't added Koto Player to your Just Type preferences. <a id='justtype_'> Tap here to launch Just Type Preferences</a>. Then tap on "Add Application Searches", and finally, tap on "Koto Player".
			<br/><br/>
			If it still doesn't work, you need to cache your songs for Just Type. <a id='cache'>Tap here to start caching your songs</a>. Koto should automatically update your song cache.
		</dd>
	</dl>
</div>