<div id='title-bar' class='palm-header left' >
	<div id='more' class='header-selector-container'>
		<div id='moreText' class='header-selector-arrow'>
			Alle
		</div>
	</div>
	<div id='title' class='header-title truncating-text'></div>
</div>
<div id='filterField' x-mojo-element='FilterFieldCustom'></div>
<div style='height: 50px'></div>
<div id='searchResultList' x-mojo-element='List'></div>
<div id='panel' x-mojo-element='NowPlayingPanel'></div>

<div class="scene-fade bottom" x-mojo-scroll-fade="bottom"></div>